{% extends 'cms/panel/page.html.twig' %}

{% block content %}
          <!-- top tiles -->
          <div class="row tile_count">
            <div class="col-md-4 col-sm-4 col-xs-6 tile_stats_count">
              <span class="count_top"><i class="fa fa-user"></i> Liczba kategorii</span>
              <div class="count">2500</div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-6 tile_stats_count">
              <span class="count_top"><i class="fa fa-clock-o"></i> Liczba produktów w ofercie</span>
              <div class="count">123.50</div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-6 tile_stats_count">
              <span class="count_top"><i class="fa fa-user"></i> Liczba aktywnych kodów zniżkowych</span>
              <div class="count green">2,500</div>
            </div>
          </div>
          <!-- /top tiles -->
          <br />
{% endblock %}